# This configuration file is a part of PPFW
# https://github.com/pidpawel/ppfw

[core]
use_v4 = yes
use_v6 = yes
use_sysfs = yes
verbosity = 4  # >=5 means debug, 4 shows all rules, 2 recommended

[policies]  # Available policies: allow, drop, reject (if tcp or udp answer with according ICMP packet, else drop)
input = drop
output = accept
forward = drop
icmp = accept

[services]  # Port numbers or /etc/services names, one per line
ssh

# [sysfs]  # In dot format, accepts only integers
# net.ipv4.conf.all.accept_source_route = 0

# [whitelist]  # IP, CIDR or FQDN, one per line, *allows* *all* traffic, IPv4 or IPv6
# 192.168.1.1/24
# my.friends.host
# 2001:500:88:200::10

# [blacklist]  # IP, CIDR or FQDN, one per line, *allows* *all* traffic, IPv4 or IPv6
# 192.168.2.3
# very.bad.drone
# 2001:500:88:200::11

# [paths]
# iptables = /sbin/iptables
# ip6tables = /sbin/ip6tables
# sysctl = /sbin/sysctl
